<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rinekri.collagetion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rinekri.collagetion.ShareActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"
            android:exported="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rinekri.collagetion.CollageActivity"      
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:exported="false">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                	   android:value=".ShareActivity"/>
        </activity>
        <activity
            android:name=".PublishActivity"
            android:label="@string/app_name"
            android:exported="false">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                	   android:value=".CollageActivity"/>
        </activity>
        
    </application>

</manifest>
